/* Общие стили */
body {
	font-family: Arial, sans-serif;
	width: 100vw; /* Ширина равна 100% ширины экрана */
	height: 100vh; /* Высота равна 100% высоты экрана */
	position: relative;
	margin: 0; /* Убираем отступы, чтобы документ заполнил экран полностью */
	padding: 0; 
	background-color: #bbbbbb
}

header {
	color: #fff;
	/*padding: 20px;*/
	text-align: center;
}

.head_bg{
	background-image: url("img/bg.webp");
	background-size: cover; /* Адаптирует изображение к размерам элемента */
	overflow: hidden;
	background-position: center; /* Выравнивает изображение по центру */
}

.photo_and_inf_container {
	display: flex; /* Расположить элементы в строку */
	align-items: center; /* Выравнивание элементов по вертикали */
	justify-content: center;
	margin-bottom: 20px;
	margin-top: 40px;
}

.avatar {
	width: 150px; /* Задайте желаемую ширину */
	height: 170px; /* Задайте желаемую высоту */
	position: absolutive; /* или absolute, в зависимости от контекста */
	border-radius: 10%; /* Сделайте аватарку круглой */
	border: none; /* Добавьте границу */
	margin-top: 5px;
}

.inf_container {
	margin-left: 10px;
	text-align: none;
}

.name {
	color: #15043e;
	font-size: 32px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.dealing {
	margin-top: 15px;
	margin-left: 0px;
	color: #333;
	font-size: 20px;
	text-align: left;
	display: block;
	font-weight: bold;
}

.menu_btns_container{
 overflow-x: auto;
 white-space: nowrap;
	list-style-type: none;
	display: flex; /* Добавляем flex для кнопок в одну линию */
	justify-content: left; /* Выравнивание кнопок по центру */
	margin-bottom: 20px;
 position: absolute;
 left: 300px;
}

.menu_btns_group{
 display: inline-block;
	padding: 10px 20px;
	background-color: #333;
	color: #fff;
	border: none;
	cursor: pointer;
	border-radius: 5%;
	font-size: 18px;
	margin: 10px;
}

.menu_btns_group:hover {
	background-color: #555;
}

.about_me_section{
}

.about_me_bg{
	background-image: url("img/about_bg.webp");
	background-size: cover; /* Адаптирует изображение к размерам элемента */
	overflow: hidden;
	background-position: center; /* Выравнивает изображение по центру */
}

.about_me_head{
	margin-top: 20px;
	color: #383838;
	font-size: 32px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.about_me_text{
	color: #383838;
	font-size: 22px;
	text-align: left;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.portfolio_section{
}

.portfolio_bg{
	background-image: url("img/later.webp");
	background-size: cover; /* Адаптирует изображение к размерам элемента */
	overflow: hidden;
	background-position: center; /* Выравнивает изображение по центру */
}

.portfolio_head{
	margin-top: 20px;
	color: #383838;
	font-size: 32px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.portfolio_text{
	color: #383838;
	font-size: 22px;
	text-align: center;
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 15px;
	margin-right: 15px;
}

.contact_section{
}

.contact_bg{
	background-image: url("img/contacts_bg.webp");
	background-size: cover; /* Адаптирует изображение к размерам элемента */
	overflow: hidden;
	background-position: center; /* Выравнивает изображение по центру */
}

.contact_head{
	margin-top: 20px;
	color: #fff;
	font-size: 32px;
	text-align: center;
	display: block;
	font-weight: bold;
}

.contact_btns_container{
	display: flex;
	justify-content: center;
}

.contact_btns{
	width: 50px; /* Установите ширину и высоту изображений в соответствии с вашими требованиями */
	height: 50px;
	margin: 20px 5px;
}

footer {
	display: flex; /* Расположить элементы в строку */
	align-items: top; /* Выравнивание элементов по вертикали */
	justify-content: center;
	height: 110px;
}

.footer_text{
	margin-top: 30px;
	display: block;
	color: #000;
}

.scroll_up_btn{
	display: none;
	position: fixed;
	bottom:1%;
	left: 45%;
	border: none;
	outline: none;
	background-color: #333;
	color: white;
	cursor: pointer;
	border-radius: 10%;
	font-size: 20px;
	width: 60px;
	height: 40px;
	opacity: 0.5;
}

.scroll_up_btn:hover {
	background-color: #555;
}
